<a href="https://colab.research.google.com/github/lemenator/Coursera_Capstone/blob/main/Week%203%20part%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
List_url = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1011037969"
source = requests.get(List_url).text

In [3]:
soup = BeautifulSoup(source, 'xml')

In [4]:
table=soup.find('table')

In [5]:
column_names=['Postalcode','Borough','Neighbourhood']
df = pd.DataFrame(columns=column_names)

In [6]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [7]:
df.head()

  Postalcode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [10]:
df=df[df['Borough']!='Not assigned']

In [12]:

df.head()

  Postalcode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [13]:
temp_df=df.groupby('Postalcode')['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighbourhood':'Neighbourhood_joined'},inplace=True)

In [14]:
df_merge = pd.merge(df, temp_df, on='Postalcode')

In [15]:
df_merge.drop(['Neighbourhood'],axis=1,inplace=True)

In [16]:
df_merge.drop_duplicates(inplace=True)

In [17]:
df_merge.rename(columns={'Neighbourhood_joined':'Neighbourhood'},inplace=True)
df_merge.head()

  Postalcode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [18]:
df_merge.shape

(103, 3)

In [19]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [21]:
geo_df=pd.read_csv('https://cocl.us/Geospatial_data')

In [22]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
geo_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)
geo_merged = pd.merge(geo_df, df_merge, on='Postalcode')

In [24]:
geo_data=geo_merged[['Postalcode','Borough','Neighbourhood','Latitude','Longitude']]

In [25]:
geo_data.head()

  Postalcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [26]:
toronto_data=geo_data[geo_data['Borough'].str.contains("Toronto")]
toronto_data.head()

   Postalcode          Borough  ...   Latitude  Longitude
37        M4E     East Toronto  ...  43.676357 -79.293031
41        M4K     East Toronto  ...  43.679557 -79.352188
42        M4L     East Toronto  ...  43.668999 -79.315572
43        M4M     East Toronto  ...  43.659526 -79.340923
44        M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [27]:
CLIENT_ID = 'W3GEXTVYVUSOTXXHCTBZG4NWNYZ3OFYG2DCFY0M10F3UOSIY' # your Foursquare ID
CLIENT_SECRET = 'PK2AAPKW5F25G10PJV03NWSVEVQZEFUTNHDSJXKTHVYYYM3B' # your Foursquare Secret
VERSION = '20180604'

In [30]:
def getNearbyVenues(names, latitudes, longitudes):
    radius=500
    LIMIT=100
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [31]:
toronto_venues = getNearbyVenues(names=toronto_data['Neighbourhood'],
                                   latitudes=toronto_data['Latitude'],
                                   longitudes=toronto_data['Longitude']
                                  )

The Beaches
The Danforth West, Riverdale
India Bazaar, The Beaches West
Studio District
Lawrence Park
Davisville North
North Toronto West,  Lawrence Park
Davisville
Moore Park, Summerhill East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
Rosedale
St. James Town, Cabbagetown
Church and Wellesley
Regent Park, Harbourfront
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Richmond, Adelaide, King
Harbourfront East, Union Station, Toronto Islands
Toronto Dominion Centre, Design Exchange
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North & West, Forest Hill Road Park
The Annex, North Midtown, Yorkville
University of Toronto, Harbord
Kensington Market, Chinatown, Grange Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Stn A PO Boxes
First Canadian Place, Underground city
Christie
Dufferin, Dovercourt Village
Little Portugal, Trinity
Brockton, Parkdale Village, Exhibition Place
Runnymede, The Junction, Weston-Pellam Park, Carlton Village
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Queen's Park, Ontario Provincial Government
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto

In [39]:
toronto_venues.head()

  Neighbourhood  Neighbourhood Latitude  ...  Venue Longitude     Venue Category
0   The Beaches               43.676357  ...       -79.293942              Trail
1   The Beaches               43.676357  ...       -79.297734  Health Food Store
2   The Beaches               43.676357  ...       -79.297215                Pub
3   The Beaches               43.676357  ...       -79.292869       Neighborhood
4   The Beaches               43.676357  ...       -79.298167   Asian Restaurant

[5 rows x 7 columns]

In [56]:
toronto_venues.groupby('Neighbourhood').count()

                                                    Neighbourhood Latitude  ...  Venue Category
Neighbourhood                                                               ...
Berczy Park                                                             59  ...              59
Brockton, Parkdale Village, Exhibition Place                            23  ...              23
Business reply mail Processing Centre, South Ce...                      17  ...              17
CN Tower, King and Spadina, Railway Lands, Harb...                      16  ...              16
Central Bay Street                                                      60  ...              60
Christie                                                                16  ...              16
Church and Wellesley                                                    78  ...              78
Commerce Court, Victoria Hotel                                         100  ...             100
Davisville                                                              34  ...              34
Davisville North                                                         9  ...               9
Dufferin, Dovercourt Village                                            15  ...              15
First Canadian Place, Underground city                                 100  ...             100
Forest Hill North & West, Forest Hill Road Park                          4  ...               4
Garden District, Ryerson                                               100  ...             100
Harbourfront East, Union Station, Toronto Islands                      100  ...             100
High Park, The Junction South                                           25  ...              25
India Bazaar, The Beaches West                                          20  ...              20
Kensington Market, Chinatown, Grange Park                               60  ...              60
Lawrence Park                                                            3  ...               3
Little Portugal, Trinity                                                43  ...              43
Moore Park, Summerhill East                                              1  ...               1
North Toronto West,  Lawrence Park                                      18  ...              18
Parkdale, Roncesvalles                                                  14  ...              14
Queen's Park, Ontario Provincial Government                             33  ...              33
Regent Park, Harbourfront                                               47  ...              47
Richmond, Adelaide, King                                                98  ...              98
Rosedale                                                                 4  ...               4
Roselawn                                                                 1  ...               1
Runnymede, Swansea                                                      34  ...              34
Runnymede, The Junction, Weston-Pellam Park, Ca...                       4  ...               4
St. James Town                                                          82  ...              82
St. James Town, Cabbagetown                                             45  ...              45
Stn A PO Boxes                                                         100  ...             100
Studio District                                                         36  ...              36
Summerhill West, Rathnelly, South Hill, Forest ...                      14  ...              14
The Annex, North Midtown, Yorkville                                     21  ...              21
The Beaches                                                              5  ...               5
The Danforth West, Riverdale                                            41  ...              41
Toronto Dominion Centre, Design Exchange                               100  ...             100
University of Toronto, Harbord                                          32  ...              32

[40 rows x 6 columns]

In [58]:

# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")
toronto_onehot.drop(['Neighbourhood'],axis=1,inplace=True) 
toronto_onehot.insert(loc=0, column='Neighborhood', value=toronto_venues['Neighborhood'] )
toronto_onehot.shape

KeyError: ignored

In [59]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped.head()

   Neighborhood  Adult Boutique   Airport  ...  Wine Bar  Wine Shop  Yoga Studio
0             0        0.000622  0.000622  ...  0.005597   0.000622     0.008085
1             1        0.000000  0.000000  ...  0.000000   0.000000     0.000000

[2 rows x 233 columns]

In [60]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [62]:
import numpy as np
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

   Neighborhood  ... 10th Most Common Venue
0             0  ...       Sushi Restaurant
1             1  ...                Dog Run

[2 rows x 11 columns]

In [67]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

In [69]:
# set number of clusters
kclusters = 2

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 1], dtype=int32)

In [72]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = toronto_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighbourhood'), on='Neighbourhood')

toronto_merged.head()

ValueError: ignored

In [73]:
toronto_merged.head()

   Postalcode          Borough  ...   Latitude  Longitude
37        M4E     East Toronto  ...  43.676357 -79.293031
41        M4K     East Toronto  ...  43.679557 -79.352188
42        M4L     East Toronto  ...  43.668999 -79.315572
43        M4M     East Toronto  ...  43.659526 -79.340923
44        M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [74]:
neighborhoods_venues_sorted.head()

   Cluster Labels  Neighborhood  ... 9th Most Common Venue 10th Most Common Venue
0               0             0  ...           Pizza Place       Sushi Restaurant
1               1             1  ...      Doner Restaurant                Dog Run

[2 rows x 12 columns]

In [76]:
!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
address = 'Toronto, CA'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Manhattan are {}, {}.'.format(latitude, longitude))

/bin/bash: conda: command not found
The geograpical coordinate of Manhattan are 43.6534817, -79.3839347.

In [80]:
import folium
import matplotlib.cm as cm
import matplotlib.colors as colors
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighbourhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

KeyError: ignored